<!DOCTYPE html>
<html>
<head>
    <title>Report</title>
    <style type="text/css" media="screen">
        body {
            background-color: skyblue;
            text-decoration-color: white;
            font-size:5em;
        }
    </style>
</head>
 
<body>

    <h3>Project Report</h3>
    <h1> <%=data.projectName%></h1>
    <h5>Announced Date:  <%=data.announcementDate%></h5>
    <h5>Sponsor:  <%=data.sponsor%></h5>
    <h5>Location:  <%=data.location%></h5>

</body>
 
</html>